  <app-header></app-header>
  <router-outlet></router-outlet>
  <!-- <app-footer></app-footer> -->

  <!-- <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="input-group mt-4">
          
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
          
        </div>
      </div>
      <div class="col-sm-6">
          <div class="form-group">
              <label for="sel1">Select list:</label>
              <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="#">
            <div class="card" >
                <img class="card-img-bottom" src="https://images.pexels.com/photos/46274/pexels-photo-46274.jpeg?auto=compress&cs=tinysrgb&h=350" alt="Card image" style="width:100%">
              <div class="card-body">
               
                <p class="card-text"> Name:Himu</p>
                <p class="card-text">Author :Humayon Ahmed</p>
                <p class="card-text">Price:300tk</p>
                <p class="card-text">Publish Date:12/3/2018</p>
                
              </div>
              
            </div>
        </a>
          
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row justify-content-center">
     
        <div class="col-sm-8">
            <img class="img-fluid rounded" src="https://images.pexels.com/photos/46274/pexels-photo-46274.jpeg?auto=compress&cs=tinysrgb&h=350" alt="Card image" style="width:100%">
      
            <hr>

            <h1 class="mt-4">Name: Humayon Ahmed</h1>
      
            <p class="lead">
              Author by
              <a href="#">Humayun Ahmed</a>
            </p>
      
            <hr>
    
            <p>Price: 300tk</p>
      
            <hr>
      
            
    
            <p class="lead">Lorean Ipsom</p>
    
          <button class="btn btn-primary" [routerLink]="['/post/'+post_id+'/edit']">Edit</button>
            
    
        </div>
      
    </div>
  </div> -->